@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Learn Programing by Fishes!</h1>
    <p class="lead">Learn programing by using fishes by Eryk T.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <input type="image" onclick="location.href ='@Url.Action("Create", "FlashCards")'; return false;" src="~/Icons/cs.png" />

    </div>
</div>